snippet all
	all:
		${1}
snippet cl      清除
	.PHONY: clean
	clean:
		${1}
# 常见项目的编译
snippet gtk     For GTK+3
	GTK_FLAGS = $(shell pkg-config --libs --cflags gtk+-3.0)

	all:
		gcc -Wall -std=c11 -o app *.c ${GTK_FLAGS}
